.popup{
	display: flex;
	align-items: center;
}

.popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 75vh;
    background-color: #ccc;
    margin:0px;
    padding:10px;
    font-size: 20px;
		color: #fff;
		border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
}

.show-popup {
		display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;
  	width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow:hidden;
    position:absolute;
		top:0px;
		z-index: 100;
}

.popup-content{
  display: flex;
}

.form-for-popup{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 50vw;
  height: 60vh;
}

.edit-fields{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #000000;
  width: 100%;
  height: 60vh;
}

.fields-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.input-field-container-for-popup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}

.label-for-fileld{
  width: 150px;
  padding: 20px 0 20px 0;
  margin: 0px;
}

.field-wrapper{
  display: flex;
  font-size: 15px;
  flex-direction: column;
  width: 15vw;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.field-gender-wrapper{
  display: flex;
  font-size: 15px;
  flex-direction: column;
  width: 15vw;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.label-for-gender-field{
  margin: 0;
}

.input-field{
  display: flex;
  width: 70%;
}

.MuiFormControl-root-1{
  display: flex;
  width: 70%;
}

.field-wrapper .input-range{
  display: flex;
  width: 70%;
}

.field-wrapper select{
  display: flex;
  width: 70%;
}

.field-wrapper input{
  display: flex;
  width: auto;
}

.buttons-wrapper{
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: flex-end;
  align-items: flex-end;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 30%;
}

.css-10nd86i{
  width: 70%;
}

.css-vj8t7z{
  width: 100%;
}